<!doctype html>
<html>
  <head>
    <title>Richieste HTTP</title>
    <link rel="stylesheet" type="text/css" href="public/style.css">
    <script src="public/script.js"></script>
  </head>
<body>
  <nav>Richieste HTTP</nav>
  <section>
    <div>
      Richiesta in post a <a class="copy" onclick="copy(this)"><%= host %>/signup</a> inviando un json contenete nella chiave name il tuo nome e cognome.
    </div>
    <div>
      Richiesta in get a <a class="copy" onclick="copy(this)"><%= host %>/ex/n</a> (1 - <%= ex.length %>) con headers x-data = "True" per ottenere task (consegna) e data.
    </div>
    <div>
      Richiesta in post a <a class="copy" onclick="copy(this)"><%= host %>/ex/n</a> (1 - <%= ex.length %>) per inviare il risultato con la chiave data.
    </div>
    <div>
      Puoi controllare il tuo punteggio a <a class="copy" onclick="copy(this)"><%= host %>/grade</a>.
    </div>
  </section>

  <header>Consegne</header>
  <section>
    <% for(let x in ex){ %>
    <div>
      Es <%= parseInt(x)+1 %> - <%= ex[x].task %><br>
    </div>
    <% } %>
  </section>
</body>
</html>