<!doctype html>
<html>
  <head>
    <title>Richieste http</title>
    <link rel="stylesheet" type="text/css" href="public/style.css">
  </head>
<body>
  <header>RICHIESTE HTTP</header>
  <main>
    <div>
      Richiesta in post a <a><%= host %>/accreditamento</a> inviando un json contenete nella chiave <i>nome</i> il tuo nome e cognome.
    </div>
    <div>
      Richiesta in get a <a><%= host %>/esercizi/n</a> (1 - <%= numEs %>) con headers <i>x-data = "True"</i> per ottenere <i>consegna</i> e <i>data</i>.
    </div>
    <div>
      Richiesta in post a <a><%= host %>/esercizi/n</a> per inviare il risultato con la chiave <i>data</i>.
    </div>
    <div>
      Puoi controllare il tuo punteggio a <a><%= host %>/voto</a>.
    </div>
  </main>
</body>
</html>